<!-- Header -->
<header id="header">
  <a class="logo" href="index.html">TOLGA DİJİTAL</a>
  <!-- <nav>
    <a href="#menu">Menu</a>
  </nav> -->
</header>

<!-- Nav -->
<!-- <nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="elements.html">Elements</a></li>
    <li><a href="generic.html">Generic</a></li>
  </ul>
</nav> -->

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>TOLGA DİJİTAL</h1>
    <p>FOTOĞRAFÇILIK ADINA HERŞEY</p>
  </div>
  <video autoplay loop muted playsinline src="/assets/images/TolgaVideo1.mp4"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>HİZMETLERİMİZ</h2>
      <p>Profesyonel Fotoğraf ve Video Prodüksiyon</p>
    </header>
    <div class="highlights">
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-camera"><span class="label">Icon</span></a>
            <h3>DIŞ ÇEKİM</h3>
          </header>
          <p>Düğün, Nişan vb. gibi her türlü özel hazırlığınızı farklı ortamlarda ölümsüzleştirmekteyiz.
          </p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-video-camera"><span class="label">Icon</span></a>
            <h3>HAVADAN ÇEKİM</h3>
          </header>
          <p>Drone vasıtasıyla her açıdan çektiğimiz video ve fotoğraflarla size özel klipler hazırlamaktayız.
          </p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-camera-retro"><span class="label">Icon</span></a>
            <h3>İÇ ÇEKİM</h3>
          </header>
          <p>Avcılardaki stüdyomuzda veya istenilen bir iç mekanda her türlü fotoğraf çekimini yapmaktayız.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper2">
  <div class="inner">
    <!-- <h2>HİZMETLERİMİZ</h2>
    <p>Her türlü iç ve dış mekan çekimi yanında drone ile havadan çektiğimiz görüntülerinizle gününüze özel klipler hazırlamakatayız.</p> -->
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>GALERİ</h2>
      <p>Dış ve Klip çekim örneklerimizi bu galeride bulabilirsiniz.</p>
    </header>
    <div class="testimonials">
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto1.jpg" alt="" class="img-thumbnail" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto2.jpg" alt="" class="img-thumbnail" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto3.jpg" alt="" class="img-thumbnail" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto4.jpg" alt="" class="img-thumbnail" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto5.jpg" alt="" class="img-thumbnail" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto6_t.jpg" alt="" class="img-thumbnail" />
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h3>Accumsan montes viverra</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
          faucibus
          ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes
          viverra
          nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing
          eu
          felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante
          nunc
          ac gravida.</p>
      </section>
      <section>
        <h4>Sem turpis amet semper</h4>
        <ul class="alt">
          <li><a href="#">Dolor pulvinar sed etiam.</a></li>
          <li><a href="#">Etiam vel lorem sed amet.</a></li>
          <li><a href="#">Felis enim feugiat viverra.</a></li>
          <li><a href="#">Dolor pulvinar magna etiam.</a></li>
        </ul>
      </section>
      <section>
        <h4>Magna sed ipsum</h4>
        <ul class="plain">
          <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
          <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
          <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
          <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
        </ul>
      </section>
    </div>
    <div class="copyright">
      &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
