<!-- Header -->
<header id="header">
  <a class="logo" href="index.html">TOLGA DİJİTAL</a>
  <!-- <nav>
    <a href="#menu">Menu</a>
  </nav> -->
</header>

<!-- Nav -->
<!-- <nav id="menu">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="elements.html">Elements</a></li>
    <li><a href="generic.html">Generic</a></li>
  </ul>
</nav> -->

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h1>TOLGA DİJİTAL</h1>
    <p>FOTOĞRAFÇILIK ADINA HERŞEY</p>
  </div>
  <video autoplay loop muted playsinline src="/assets/images/TolgaVideo1.mp4"></video>
</section>

<!-- Highlights -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>HİZMETLERİMİZ</h2>
      <p>Profesyonel Fotoğraf ve Video Prodüksiyon</p>
    </header>
    <div class="highlights">
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-camera"><span class="label">Icon</span></a>
            <h3>DIŞ ÇEKİM</h3>
          </header>
          <p>Düğün, Nişan vb. gibi her türlü özel hazırlığınızı farklı ortamlarda ölümsüzleştirmekteyiz.
          </p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-video-camera"><span class="label">Icon</span></a>
            <h3>HAVADAN ÇEKİM</h3>
          </header>
          <p>Drone vasıtasıyla her açıdan çektiğimiz video ve fotoğraflarla size özel klipler hazırlamaktayız.
          </p>
        </div>
      </section>
      <section>
        <div class="content">
          <header>
            <a href="#" class="icon fa-camera-retro"><span class="label">Icon</span></a>
            <h3>İÇ ÇEKİM</h3>
          </header>
          <p>Avcılardaki stüdyomuzda veya istenilen bir iç mekanda her türlü fotoğraf çekimini yapmaktayız.
          </p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper2">
  <div class="inner">
    <!-- <h2>HİZMETLERİMİZ</h2>
    <p>Her türlü iç ve dış mekan çekimi yanında drone ile havadan çektiğimiz görüntülerinizle gününüze özel klipler hazırlamakatayız.</p> -->
  </div>
</section>

<!-- Testimonials -->
<section class="wrapper">
  <div class="inner">
    <header class="special">
      <h2>GALERİ</h2>
      <p>Dış ve Klip çekim örneklerimizi bu galeride bulabilirsiniz.</p>
    </header>
    <div class="testimonials">
      <section>
        <div class="content">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/b3CpV_P8w78?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YCc6g574m6Q?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aDw12OVybSQ?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto1.jpg" alt="" class="img-thumbnail" (click)="openModal(content, 1)" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto2.jpg" alt="" class="img-thumbnail" (click)="openModal(content, 2)" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto3.jpg" alt="" class="img-thumbnail" (click)="openModal(content, 3)" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto4.jpg" alt="" class="img-thumbnail" (click)="openModal(content, 4)" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto5.jpg" alt="" class="img-thumbnail" (click)="openModal(content, 5)" />
          </div>
        </div>
      </section>
      <section>
        <div class="content">
          <div class="image">
            <img src="assets/images/Foto6_t.jpg" alt="" class="img-thumbnail" (click)="openModal(content, 6)" />
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h3>İLETİŞİM</h3>
        <p>Avcılar</p>
      </section>
    </div>
    <div class="copyright">
      &copy; 2018 Tolga Dijital
    </div>
  </div>
</footer>

<!-- Modal -->
<ng-template #content let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <img [src]="photoSource" alt="" class="img-fluid" />
  </div>
</ng-template>

<router-outlet></router-outlet>
